<?xml version='1.0' encoding='utf-8'?>
<widget id="com.terracehillresort" version="1" versionCode = "1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Towns Delight The Caterer</name>
    <description>
        Town’s Delight The Caterer has established itself as a reputable and dependable catering business in the Philippines that can handle wedding and other events with guaranteed expertise. It has earned the respect of the Filipino as a premier and professional company that caters to the high-end clientele.
    </description>
    <author email="info@townsdelight.com" href="http://m.townsdelight.com/">
        info@townsdelight.com
    </author>

    <content src="index.html" />

    <!-- Android  -->
    <icon src="res/icons/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="res/icons/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="res/icons/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="res/icons/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="res/icons/android/icon-144-xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />

    <access origin="*" subdomains="true" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="3.6.3" />


    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" />

    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.NetworkManager" />
    </feature>

    <access origin="http://127.0.0.1*"/>
    <access origin="http://m.townsdelight.com" subdomains="true" />


</widget>
